<% if @model == 'user' %>
  <h2>Users search fo "<%= @content %>"</h2>
  <%= render 'users/index', users: @records %>
<% else @model == 'book' %>
  <h2>Books search fo "<%= @content %>"</h2>
  <%= render 'books/index', books: @records %>
<% end %>